<div class="container table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Stock</td>
        <td colspan="1" >

      </tr>
      <% @products_not_on_sale.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td>
            <a href = "products/<%= product.id %>/edit" class = "btn btn-primary">Edit</a>
            <%= link_to "Delete", product, method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </thead>
  </table>
  <div class = "alert alert-success text-center" role = "alert">
    <h2 class = "alert-heading">On Sale</h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Stock</td>
        <td colspan="1" >
      </tr>
      <% @on_sale.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td>
            <a href = "products/<%= product.id %>/edit" class = "btn btn-primary">Edit</a>
            <%= link_to "Delete", product, method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </thead>
  </table>
</div>
