<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Title</title>
  </head>

  <body>
    <%= nav_bar do %>
      <%= menu_group do %>
        <%= menu_item "Home", root_url %>
        <%= menu_item "Products", products_url %>
        <%= menu_item "Contact", "#" %>
      <% end %>
    <% end %>
    <div class="container">
        <%= form_for Product.new do |form| %>
            Name <input type = "text" name = "product[name]"><br>
            Description <textarea name = "product[description]"></textarea><br>
            Price <input type = "number" step = "0.01" name = "product[price]"><br>
            Stock <input type = "number" name = "product[stock]"><br>
            
            <button>Submit</button>
        <% end %>

      </form>
    </div>
  </body>
</html>
