<div class="container">
    <%= form_for Product.new do |form| %>
      <div class = "row">
        <div class = "col-sm-8">
          <div class = "form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-8">
          <div class = "form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control", rows: 4 %>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-4">
          <div class = "form-group">
            <%= form.label :price %>
            <%= form.number_field :price, class: "form-control", step: "0.1" %>
          </div>
        </div>
        <div class = "col-sm-4">
          <div class = "form-group">
            <%= form.label :stock %>
            <%= form.number_field :stock, class: "form-control" %>
          </div>
        </div>
      </div>

      <%= form.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </form>
</div>
