<!DOCTYPE html>
<html>
  <head>
    <title>RoR Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= nav_bar brand: "RoR Store", brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Home", root_url %>
        <%= menu_item "Products", products_path %>
        <%= menu_item "New Product", new_product_path %>
      <% end %>
      <%= form_tag search_product_path, class: "navbar-form navbar-right", method: :get do %>
        <div class = "form-group">
          <%= text_field_tag :name, @name, class: "form-control" %>
          <%= button_to "Seach", nil, class: "btn btn-default" %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
